<p id="notice"><%= notice %></p>

<p>
  <strong>Birthday:</strong>
  <%= @bio.birthday %>
</p>

<p>
  <strong>City:</strong>
  <%= @bio.city %>
</p>

<p>
  <strong>Age:</strong>
  <%= @bio.age %>
</p>

<p>
  <strong>User:</strong>
  <%= @bio.user %>
</p>

<%= link_to 'Edit', edit_bio_path(@bio) %> |
<%= link_to 'Back', bios_path %>
