%td{colspan: 6}
  = form_for object, url: object.new_record? ? users_path : user_path(object), 
                     remote: true, html: {class: "form-horizontal"} do |f|
    %p
      Name: 
      = f.text_field :name
    %p
      Surname: 
      = f.text_field :surname
    %p
      Email: 
      = f.text_field :email

    = f.submit "Save", class: "btn btn-primary"
    %button.btn.btn-link.cancel Cancel